<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body ng-app="testApp">
	<div class="container">
		<div class="row" ng-controller="OrderCtrl">
			<nav>
				<div class="nav-wrapper">
					<span class="brand-logo"><a href="/"> / </a><a href="/orders.html">заказы</a></span>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/">База знаний</a></li>
						<li><a href="/faq">Документация</a></li>
						<li><a href="/">Перейти на сайт</a></li>
					</ul>
				</div>
			</nav>

			<ul id="dropdown_type" class="dropdown-content">
				<li>
					<a href="#!" ng-click="searchInOrder = 'фотопечать'">фотопечать
						<span class="badge">
							<i ng-show="sortType == 'Title' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'Title' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
				<li>
					<a href="#!" ng-click="searchInOrder = 'сувениры'">сувениры
						<span class="badge">
							<i ng-show="sortType == 'TotalPrice' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'TotalPrice' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
				<li>
					<a href="#!" ng-click="searchInOrder = 'визитки'">визитки
						<span class="badge">
							<i ng-show="sortType == 'Status' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'Status' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
				<li>
					<a href="#!" ng-click="searchInOrder = 'картины'">картины
						<span class="badge">
							<i ng-show="sortType == 'PaymentStatus' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'PaymentStatus' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
				<li>
					<a href="#!" ng-click="searchInOrder = ''">всё
						<span class="badge">
							<i ng-show="sortType == 'Title' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'Title' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
			</ul>

			<ul id="dropdown_sort" class="dropdown-content">
				<li>
					<a href="#!" ng-click="sortType = 'Title'; sortReverse = !sortReverse">название
						<span class="badge">
							<i ng-show="sortType == 'Title' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'Title' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
				<li>
					<a href="#!" ng-click="sortType = 'TotalPrice'; sortReverse = !sortReverse">цена
						<span class="badge">
							<i ng-show="sortType == 'TotalPrice' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'TotalPrice' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
				<li>
					<a href="#!" ng-click="sortType = 'Status'; sortReverse = !sortReverse">статус
						<span class="badge">
							<i ng-show="sortType == 'Status' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'Status' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
				<li>
					<a href="#!" ng-click="sortType = 'PaymentStatus'; sortReverse = !sortReverse">платеж
						<span class="badge">
							<i ng-show="sortType == 'PaymentStatus' && !sortReverse" class="material-icons">arrow_drop_up</i>
							<i ng-show="sortType == 'PaymentStatus' && sortReverse" class="material-icons">arrow_drop_down</i>
						</span>
					</a>
				</li>
			</ul>

			<div class="row">
				<div class="col s6">
					<a class="btn dropdown-button" href="#!" data-activates="dropdown_sort">Сортировка<i class="mdi-navigation-arrow-drop-down right"></i></a>
					<a class="btn dropdown-button" href="#!" data-activates="dropdown_type">Тип<i class="mdi-navigation-arrow-drop-down right"></i></a>
				</div>
				<div class="col s6">
					<form>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-search"></i></div>
								<input type="text" class="form-control" placeholder="Поиск" ng-model="searchInOrder">
							</div>
						</div>
					</form>
				</div>
			</div>

			<div ng-repeat="post in posts.Result | orderBy:sortType:sortReverse | filter:searchInOrder" class="col s4">
				<div class="card hoverable small" >
					<div class="card-image valign-wrapper">
						<img src="http://bg.siteorigin.com/image/generate/download?color=%2398D67E&pattern=shattered&blend=40&intensity=15.00&noise=0.00">
						<span class="card-title valign">{{post.Title}}</span>
					</div>
					<div class="card-content">
						<p>Заказ № {{post.Id}}</p>
						<p>{{post.Status}} {{post.PaymentStatus}}</p>
						<p><img src="{{post.PreviewImageUrl}}"></p>
						<p>Сумма покупки/скидки/доставки: {{post.Price}}/{{post.DiscountPrice}}/{{post.DeliveryPrice}}</p>
						<p>Итоговая сумма: {{post.TotalPrice}}</p>
						<br>
						<p>ID покупателя: {{post.UserId}}</p>
						<p>Заказ от {{post.DateCreated.replace("/Date(","").replace(")/","") | date:'dd-MM-yyyy HH:mm'}}</p>
					</div>
					<div class="card-action">
						<a href="{{post.DownloadLink}}">Скачать архив</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

<script>
	var app = angular.module("testApp", []);

	app.controller("OrderCtrl", function($scope, $http) {
		$http.get('/api/get/orders.json').
			success(function(data, status, headers, config) {

				$scope.sortType = 'DateCreated';
				$scope.sortReverse = true;
				$scope.searchInOrder = '';

				$scope.posts = data;
			}).
			error(function(data, status, headers, config) {

			});
	});
</script>

</html>